<footer>


	<div class="page-width">
		<div class="grid">
			<div class="grid__item one-quarter small--one-whole">
				<a href="/">
				{% if section.settings.footerlogo != blank %}
					<img src="{{ section.settings.footerlogo | img_url: image_size }}"
						 srcset="{{ section.settings.footerlogo | img_url: image_size }} 1x, {{ section.settings.footerlogo | img_url: image_size, scale: 2 }} 2x"
						 alt="{{ section.settings.alt | default: shop.name }}"
						 itemprop="logo">
				  {% else %}
					{{ shop.name }} goes here test and is totally password protected frauck!
				  {% endif %}
				</a>
			</div>
			<div class="grid__item one-sixth small--one-whole">
			  {%- assign footer_linklist = section.settings.footer_linklist -%}
			  {% if linklists[footer_linklist].links.size > 0 %}
				<ul class="footer_menu">
				  {% for link in linklists[footer_linklist].links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				  {% endfor %}
				</ul>
			  {% endif %}
			</div>
			<div class="grid__item one-half small--one-whole footer_social_wrap spinsocial">
				{%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
			  <ul class="footer_social">
				{% for social in social_accounts %}
				  {%- assign social_handle = social | handleize -%}
				  {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
				  {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

				  {% if settings[social_link] != blank %}
					<li>
					  <a href="{{ settings[social_link] }}" class="social-sharing-link" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
						{% include social_icon %}
						<span class="icon-fallback-text">{{ social }}</span>
					  </a>
					</li>
				  {% endif %}

				{% endfor %}
			  </ul>
			</div>

		</div>
	</div>

	  {% if section.settings.show_payment_icons %}
	    <p class="text-center">
	      {% unless shop.enabled_payment_types == empty %}
			  {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

			  <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
			  <ul class="payment-icons">
				{% for type in shop.enabled_payment_types %}
				  {% if payment_icons_available contains type %}
					<li>
					  {%- assign icon_name = type | prepend: 'icon-' -%}
					  {% include icon_name %}
					  <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
					</li>
				  {% endif %}
				{% endfor %}
			  </ul>
		  {% endunless %}
		</p>
	  {% endif %}

	  <p class="text-center">
		<small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</small>
	  </p>

  </div>


</footer>
<!-- for using gradients from here: http://www.colorzilla.com/gradient-editor/ -->
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
{% schema %}
  {
    "name": "Footer",
    "settings": [
	  {
        "type": "image_picker",
        "id": "footerlogo",
        "label": "Logo image"
      },
	  {
		"id": "alt",
		"type": "text",
		"label": "Image Alt text"
	  },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
