<div data-section-id="{{ section.id }}" class="{{ section.id }}" data-section-type="home-slider-section">
  <div class="owl-carousel home-1-owl owl-theme">
	{% for block in section.blocks %}
	  <div class="homeslide" {{ block.shopify_attributes }}>
		{% case block.type %}
		{% when 'slider' %}
		  <img src="{{ block.settings.imgs | img_url: '2000x' }}" class="sliderimg">
		  <div class="slider_content">
			  <h1>{{ block.settings.h1 }}</h1>
			  <a href="{{ block.settings.link }}" class="home-slide-btn">{{ block.settings.linktext }}</a>
		  </div>
		{% endcase %}
	  </div>
	{% endfor %}
  </div>
</div>

<h2 class="text-center" style="margin: 2em 0;">Now that's a nice slider, eh?</h2>

<p class="text-center" style="margin: 1rem 0;">It <em>s-u-u-u-u-r-e</em> is!</p>

<<<<<<< HEAD
=======
<p class="text-center" style="margin: 1rem 0;">This is only on hometext1 - oops, now hometext2 - now updated on another computer :-)</p>

>>>>>>> 36d13164034e444361a0fcef487262ff4fc2824b

{% javascript %}
$(document).ready(function(){
	$('.home-1-owl').owlCarousel({
		loop:true,
		margin:10,
		nav:true,
		items:1,
		navText: ["<img src='//d39hwjxo88pg52.cloudfront.net/trydrd/images/btn_prev.png' alt='Previous'>","<img src='//d39hwjxo88pg52.cloudfront.net/trydrd/images/btn_next.png' alt='Next'>"],
	});
});
{% endjavascript %}

{% schema %}
  {
    "name": "HomeSlider",
    "max_blocks": 5,
	"blocks": [
      {
        "type": "slider",
        "name": "slider_info",
        "settings": [
          {
            "id": "imgs",
            "type": "image_picker",
            "label": "Select Image"
          },
		  {
		    "id": "h1",
			"type": "text",
			"label": "Big Promo Text"
		  },
		  {
		    "id": "linktext",
			"type": "text",
			"label": "Link Text",
			"default": "Shop Now"
		  },
		  {
			  "id": "link",
			  "type": "url",
			  "label": "Button link"
			}
        ]
      }
    ]

  }
{% endschema %}
